v/* Общие стили */
*, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace, "PT Mono", "Courier New", "Courier", "Helvetica Neue", Arial;
}

/* Стили игрового поля */
#board {
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(150, 4vw);
}

.cell {
    height: 4vw;
    border: 1px solid #cfcfcf;
}

.cell:hover {
    background-color: #f0f0f0;
}

.cell.taken {
    background-color: #333;
    border: 1px solid #404040;
}


#taskPanel.hidden {
    display: none;
}


/* Стили координат */
.highlighted-coordinate {
    font-weight: bold;
    color: black;
}

#vertical-coordinates, #horizontal-coordinates {
    display: flex;
    justify-content: flex-start;
    color: grey;
    font-size: 18px;
  z-index: 5;
  
}

.cell, #vertical-coordinates > div {
    box-sizing: border-box;
}

#vertical-coordinates {
    position: sticky;
    left: 0;
    flex-direction: column;
    height: calc(150 * 4vw);
    width: 3vw;
    margin-right: 1vw;
    align-items: center;
    background: #ffffffc9;
}


#horizontal-coordinates {
    position: sticky;
    top: 0;
    width: calc(150 * 4vw);
    height: 4vw;
    margin-bottom: 1vw;
    align-items: center;
    justify-content: center;
    margin-left: 4vw;
    background: #ffffffc9;
}

/* Стили кнопок */
.buttons-container {
    position: fixed;
    top: 8px;
    right: 0;
    display: flex;
    align-items: center;
  z-index: 105;
   justify-content: space-between;  
}





#taskCoordinates div {
    margin-left: 8px; 
    margin-right: 8px;
    display: inline-block;  /* элементы будут горизонтальными */
}





.mainbuttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


.custom-button {
    background-color: white;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    margin: 0 10px;
    cursor: pointer;
    transition: transform 0.2s;
    font-size: 18px;
}

.custom-button:hover {
    transform: translateY(-3px);
}

.custom-button:active {
    transform: translateY(1px);
}

/* Стили анимаций */
@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0.5; }
}

/* Дополнительные стили контейнеров */
.outer-container {
    overflow-y: auto;
    height: 100vh;
}

#horizontal-coordinates-container {
    overflow-x: auto;
    white-space: nowrap;
}

#horizontal-coordinates div {
    min-width: calc(2 * (100vw / 150));
    overflow: hidden;
}


.board-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: calc((4vw * 150) + 3vw);
}

#board-container {
    display: flex;
    flex-direction: column;  
    align-items: flex-start;
    min-height: calc(150 * 4vw + 4vw + 1vw);
  padding-top: 48px;
}

/* Медиа-запрос для мобильных устройств */
@media screen and (max-width: 768px) {
    #vertical-coordinates, #horizontal-coordinates {
        font-size:12px;
    }

    .custom-button {
        font-size: 14px;
    }

    #board {
        grid-template-columns: repeat(150, 6vw);
    }

    .cell {
        height: 6vw;
    }

    #vertical-coordinates {
        height: calc(150 * 6vw);
        width: 4.5vw;
    }

    #horizontal-coordinates {
        width: calc(150 * 6vw);
        height: 6vw;
      margin-left: 5vw;
    }

    .board-wrapper {
        width: calc((6vw * 150) + 4.5vw);
    }
}



#taskPanel {
    position: fixed;
    top: 8px;
    left: 30px;
    flex-grow: 1;
    flex-direction: row;
    align-items: center;
    width: auto; /* Убедитесь, что ширина не фиксирована */
    z-index: 106; /* Чтобы элемент был поверх других */
   background: #ffffffc9;
}



.mainbuttons {
   /* width: 200px;  Примерное значение. Установите нужную ширину */
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.custom-button2 {
display: inline-flex;
padding: 4px 10px;
align-items: flex-start;
gap: 10px;
  background-color: white;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);

  cursor: pointer;
  transition: transform 0.2s;
  font-size: 18px;
  
}

.highlighted {
  display: inline-flex;
  height: 28px;
  padding: 4px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  flex-shrink: 0;
  border-radius: 2px;
  background: #D1F862;
}

.bhighlighted {
  display: inline-flex;
  height: 28px;
  padding: 4px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  flex-shrink: 0;
  border-radius: 2px;
  background: #EAE2E2;
}
